<!DOCTYPE html>
<html>
<head>
	<title>Ice Cream Shop</title>
	
	<link href="https://fonts.googleapis.com/css?family=Londrina+Solid:900|Sintony:400,700" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script
	 src="https://code.jquery.com/jquery-3.3.1.min.js"
	 integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	 crossorigin="anonymous"></script>

    <!-- CUSTOMIZED SCRIPTS -->
    <link rel="stylesheet" href="styles/styles.css">
    <script src="scripts/app.js"></script>

</head>
<body>
	<header>
		<div class="jumbotron jumbotron-fluid">
		  <div class="container">
		    <h1 class="display-4">Stagha Sandwiches</h1>
		    <p class="lead">Live a little sweeter.</p>
		  </div>
		</div>
	</header>

	<div class='container choices'>
		<div class="row">
			<div class="col-lg-6 icecreams">
				<h3>Ice Cream Flavors</h3>
				<ul>
					<li>Vanilla</li>
					<li>Chocolate</li>
					<li>Chocolate Chip</li>
					<li>Cookie Dough</li>
					<li>Strawberry</li>
					<li>Pistachio</li>
				</ul>
			</div>
			<div class="col-lg-6 bases">
				<h3>Cookies</h3>
				<ul>
					<li>Chocolate Chip</li>
					<li>Snikerdoodle</li>
					<li>Double Chocolate Chip</li>
					<li>Oatmeal Raisin</li>
				</ul>
			</div>
		</div>
	</div>

<div class='container'>
		<div class="row">
			<div class="col-lg formField">
			<legend>Place Your Order</legend>
			<form id = "form">
			  <input name="name" type="text" placeholder="Your Name" class="form-control input-md" required>
			 <label>Choose an Ice Cream Flavor:</label>
			 	<div class="dropdown">
					<select name="icecream" class="pickIceCream" id = "iceCreamDropDown">
					
				  	</select>
				</div>

			 <label>Choose a Cookie Flavor:</label>
				<div class="dropdown">
				  <select name="cookie" class="pickCookie" id = "cookieDropDown">
				  	
				   </select>
				  </div>
				  <button id="submitButton" name="submitButton" class="btn btn-primary">Submit to Place Order</button>
				  
			</form>

				</div>
			</div>
		<section id = "placedOrders">
			<ul class = "listOfOrders"></ul>
		</section>
	</div>
</body>
</html>