body{
	font-family:'Sintony', sans-serif, Arial;
	font-weight: 600;
	/*background-color: #E4EBF7;*/
	color: #8E5B96;
	background-color: #ffffff;
	background-image: url("../images/icecreamo.jpg");
	background-size: cover;

}
h1{
	font-family: "Londrina Solid", sans-serif, Arial;
	font-size: 4rem;
	letter-spacing: 1rem;
	text-shadow: 2px 2px #C2BBE8;
}
h3{
	font-family: "Londrina Solid", sans-serif, Arial;
	font-size: 2rem;
	text-shadow: 2px 2px #C2BBE8;
}
.lead{
	font-size: 2rem;
	font-weight: bold;
	text-shadow: 2px 2px #C2BBE8;
}
li{
	font-size: 1.5rem;
	font-weight: 600;
}

ol {

	font-size: 1.5rem;
}
.bases{
	left:200px;
}
.formStyles{
	border: 1px #b6a26b solid;
    padding: 40px;
    background-color: rgba(182, 162, 107, .3);
    border-radius: 12px;
}
form, legend{
	margin-left: 20%;
}
.appendedOrder{
	margin-top: 10px;
	padding:5px;
}
select, input{
	width:75%;
	background-color: #fff;
	margin:10px;
}
.form-control{
	width:75%;
}
.choices{
	border-top: double #b6a26b 10px;
	margin-top: 3px;
}
#submitButton{
	background-color: #8E5B96;
	border-color: #8E5B96;
	margin-left: 1%;
}
button{
	background-color: #8E5B96;
	border-color: #8E5B96;
	color: #fff;
	border-radius: 4px;
	margin:1px 8px;
}
.jumbotron{
	background-image: url('../images/icecreamheader.jpg');
	background-size: cover; 
	text-align: center;
	height:340px;
	margin-bottom: 10px;
}

img{

	position: absolute;
	top: 30%;
	left: 25%;	
}

.hidden{
	display: none;
}